<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- mybatis 로그 기록, spring boot에서는 다른 방법 사용 -->
	<!-- log4j api 사용하겠다는 설정 -->
	<!-- <settings>
		<setting name="logImpl" value="LOG4J" />
	</settings> -->

	<!-- 패키지명.클래스명의 별명을 설정 -->
	<typeAliases>
		<typeAlias type="board.spring.mybatis.MemberDTO" alias="memberdto" />
		<typeAlias type="board.spring.mybatis.BoardDTO" alias="boarddto" />
	</typeAliases>

</configuration>